<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="margin-top:20px; padding:10px">
  <form [formGroup]="changePassForm" (ngSubmit)="ChangePassword(changePassForm.value)">
    <h6 class="text-center">Change Password</h6>

    <div class="input-group mb-3" style="margin-bottom: 10px !important;">
      <div class="input-group-prepend">
        <span class="input-group-text">Old Password</span>
      </div>
      <ion-input  style="border: 1px solid white; border-radius: 10px" type="password" class="form-control" placeholder="Old Password"
             [formControl]="changePassForm.controls['old_pass']" name="" required>
      </ion-input>
    </div>

    <div class="input-group mb-3" style="margin-bottom: 10px !important;">
      <div class="input-group-prepend">
        <span class="input-group-text">New Password</span>
      </div>
      <ion-input  style="border: 1px solid white; border-radius: 10px" type="password" class="form-control" placeholder="New Password"
             [formControl]="changePassForm.controls['new_pass']" name="" required>
      </ion-input>
    </div>

    <div class="input-group mb-3" style="margin-bottom: 10px !important;">
      <div class="input-group-prepend">
        <span class="input-group-text">Confirm Password</span>
      </div>
      <ion-input  style="border: 1px solid white; border-radius: 10px" type="password" class="form-control" placeholder="Confirm Password"
             [formControl]="changePassForm.controls['conf_pass']" name="" required>
      </ion-input>
    </div>

    <div class="row" style="display: block; margin: 0 auto;">
      <div class="text-center">
        <ion-button type="submit" class="btn btn-primary px-4" [disabled]="!changePassForm.valid">Change Password
        </ion-button>
        <ion-button type="button" class="btn btn-info" (click)="resetAll()">Reset</ion-button>
      </div>
    </div>
  </form>
</ion-content>
