.bgimg {
  background: url('/src/assets/img/Mulk E Health A4-01 1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.image1 {
  width: 160%;
  //margin-left: 15px;
  height: 100px;
  //margin-top: 10px;
}

.mri {
  background: #28D0F4;
  border-radius: 5px;
  font-size: 11px;
  width: 100%;
}

.remote {
  width: 190%;
}

img {
  max-width: 167%;
  border: 0;

}

.list {
  color: #000000;
  font-size: 12px;
}

ul {
  color: black;
}
