<ion-header>

  <ion-toolbar>
    <label class="label-titles">800 Pharamcy Response</label>
    <ion-buttons end>
      <ion-button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content style="background-color: ghostwhite">
  <!--<ion-card *ngFor="let resp of response; let i = index">-->
    <!--<ion-list>-->
      <!--<ion-item>-->
        <!--<span> {{i + 1}}.</span>-->
        <!--<span><b>{{resp.itemName}}</b></span>-->
        <!--<span>Dose : <b>{{resp.dfName}}</b></span>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-card>-->
</ion-content>
