<!--
<ion-header>
  <ion-toolbar>
    <label class="label-titles">Radiology Details</label>
    <ion-buttons end>
      <ion-button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons start left>
      <div ion-button show menuToggle>
        <ion-icon name="menu"></ion-icon>
      </div>
    </ion-buttons>
    <label class="label-titles">My Radiology</label>
  </ion-toolbar>
</ion-header>


<ion-content style="background-color: #fff!important;">
  <!--<div class="labels">

    <input type="button" style="font-size: large;" class="login-bt" value="Send to Lab" (click)="sendToOthers()" (click)="OpenModal()">
  </div>-->
  <div *ngFor="let myRadiology of radiologyList">
    <div class="labels">
      <!--      <input type="button" style="font-size: large;" class="login-bt" value="Send To Lab"
                   (click)="sendToLab(patientId, myRadiologyId)">-->
    </div>
    <div class="labels">
      <input type="button" style="font-size: large;" class="login-bt" value="Send To Radiology"
             (click)="sendToLab(patientId, vpId)">
    </div>
    <h4><strong>Date : </strong>> {{myRadiology?.createdDate | date:'dd-MM-yyyy'}}</h4>
    <h4><strong>Document Name </strong> :
      {{myRadiology?.duName}}</h4>
    <!-- <h4><strong>Doctor Name </strong> :
       Dr.{{myRadiology?.doctorId?.staffUserId?.userFullname}}</h4>-->
    <h4 *ngIf="myRadiology?.doctorId"><strong> Doctor Name : </strong>{{myRadiology?.doctorId?.staffUserId?.userFullname}} </h4>
    <h4 *ngIf="myRadiology?.doctorId == null"><strong> Doctor Name : </strong>NA </h4>
    <h4><strong>Patient Name </strong> :
      {{myRadiology?.patientId?.patientUserId?.userName}} </h4>
    <!--<h4><strong>Refferal Letter </strong> :
      {{myRadiology.refferalLetterId?.refferalLetter}} </h4>-->
    <img style="color:#fff;width: 20%;margin:0px auto;display: block;margin-top:50px;"
         src="{{patientimagepath}}/{{myRadiology?.duFileName}}">
  </div>
  <div class="presc_lable">
    <!--<h5>Radiology List</h5>-->
  </div>


</ion-content>

