<!--<head>-->
<!--<meta name="viewport" content="width=device-width,initial-scale=1.0">-->
<!--</head>-->
<!--<style>-->
<!--.bgm {-->
<!--background: url("assets/img/Mulk E Health A4-01 1.png");-->
<!--}-->

<!--.bgi {-->
<!--background: url("assets/img/GetStart-1.png");-->
<!--background-repeat: no-repeat;-->
<!--background-attachment: fixed;-->
<!--background-position: center;-->
<!--background-size: 100% auto;-->
<!--height: 300px;-->
<!--/*background-size:cover;*/-->
<!--}-->
<!--</style>-->

<!--<ion-slides pager="true">-->
<!--<ion-slide class="bgi">-->
<!--<img class="logo" src="assets/img/mulk1.png"/>-->
<!--<ion-row>-->
<!--<ion-col>-->
<!--&lt;!&ndash;<h1 class="page1">Where the World <br> Connects for<br> Health 24*7</h1>&ndash;&gt;-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-footer class="mt">-->
<!--<button class="btnr" (click)="goToHome()">Get Started</button>-->
<!--</ion-footer>-->
<!--</ion-slide>-->

<!--<ion-slide class="bgm">-->
<!--<img class="logo2" src="assets/img/Dashboard 1.png"/>-->
<!--<ion-row>-->
<!--<ion-col class="page2">-->
<!--<h1>LIVE ONLINE<br>-->
<!--TELE HEALTH CONSULTATIONS</h1>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-footer class="mt">-->
<!--<button class="btnr" (click)="goToHome()">Get Started</button>-->
<!--</ion-footer>-->
<!--</ion-slide>-->


<!--<ion-slide class="bgm">-->
<!--<img class="logo2" src="assets/img/Chronic Disease Care 1.png"/>-->
<!--<ion-row>-->
<!--<ion-col class="page2">-->
<!--<h1>CHRONIC<br>-->
<!--DISEASE CARE</h1>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-footer class="mt">-->
<!--<button class="btnr" (click)="goToHome()">Get Started</button>-->
<!--</ion-footer>-->
<!--</ion-slide>-->

<!--<ion-slide class="bgm">-->
<!--<img class="logo2" src="assets/img/Medical Tourism 2.png"/>-->
<!--<ion-row>-->
<!--<ion-col class="page2">-->
<!--<h1>MEDICAL TOURISM</h1>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-footer class="mt">-->
<!--<button class="btnr" (click)="goToHome()">Get Started</button>-->
<!--</ion-footer>-->
<!--</ion-slide>-->

<!--<ion-slide class="bgm">-->
<!--<img class="logo2" src="assets/img/Home Health Services 1.png"/>-->
<!--<ion-row>-->
<!--<ion-col class="page2">-->
<!--<h1>HOME HEALTH SERVICES-->
<!--</h1>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-footer class="mt">-->
<!--<button class="btnr" (click)="goToHome()">Get Started</button>-->
<!--</ion-footer>-->
<!--</ion-slide>-->

<!--<ion-slide class="bgm">-->
<!--<img class="logo2" src="assets/img/Remote Patient Monitoring 1.png"/>-->
<!--<ion-row>-->
<!--<ion-col class="page2">-->
<!--<h1>REMOTE PATIENT MONITORING</h1>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-footer class="mt">-->
<!--<button class="btnr" (click)="goToHome()">Get Started</button>-->
<!--</ion-footer>-->
<!--</ion-slide>-->

<!--<ion-slide class="bgm">-->
<!--<img class="logo3" src="assets/img/Medicine delivery 1.png"/>-->
<!--<ion-row>-->
<!--<ion-col class="page2">-->
<!--<h1>HOME MEDICINE DELIVERY</h1>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-footer class="mt">-->
<!--<button class="btnr" (click)="goToHome()">Get Started</button>-->
<!--</ion-footer>-->
<!--</ion-slide>-->
<!--</ion-slides>-->




<ion-content class="bgm" fullscreen>
  <ion-slides pager="false">
    <ion-slide class="bgi">
      <div class="slide-container">
        <ion-img class="logo" src="assets/img/mulkmed logo.png"></ion-img>
        <ion-row>
          <ion-col>
            <h1 class="page1">Where the World <br> Connects for<br> Health 24*7</h1>
          </ion-col>
        </ion-row>
        <ion-footer class="mt">
          <ion-button class="btnr" (click)="goToHome()">Get Started</ion-button>
        </ion-footer>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
