<ion-header>
  <ion-toolbar>
    <label class="label-titles">Medicine Delivery Details</label>
    <ion-buttons end>
      <ion-button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content style="background-color: #fff!important;">
  <div>
    <div class="labels">

    </div>

    <h4><strong>Enquiry</strong> :
      <!--{{medicineDeliveryReceipt.enquiry}}-->
    </h4>
  </div>
  <div class="presc_lable">

  </div>
</ion-content>

