

  .dropdown {
    color: whitesmoke;
    font-weight: bold;
    margin-left: 20px;
    font-size: 13px;
  }
  .or{
    font-size: large;
    margin: 0px auto;
    width: 10%;
    /* display: block; */
    margin-top: 33px;
    color: white;
  }

  .bgimg {
    background: url('/src/assets/img/Mulk E Health A4-01 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
