ion-content {
  --ion-background-color: #f4f4f4;
}

ion-label {
  font-weight: bold;
}

ion-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

ion-button {
  margin-top: 20px;
}
