
<!--<ion-header>-->
<!--<ion-toolbar class="bar">-->
<!--<ion-buttons start left>-->
<!--<div ion-button show menuToggle>-->
<!--<ion-icon name="menu"></ion-icon>-->
<!--</div>-->
<!--</ion-buttons>-->
<!--<label class="label-titles">My Radiology</label>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center">My Radiology</ion-title>
  </ion-toolbar>
</ion-header>




<!--<ion-header>
  <ion-toolbar>
    <label class="label-titles">My Radiology</label>
    <ion-buttons end>
      <ion-button ion-button icon-only (click)="goBack()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->


<ion-content class="bgimg">
  <ion-refresher label="Start" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col>
      <img style="margin-left: 30%" src="assets/img/icons/My Radiology.png" class="img">
    </ion-col>
  </ion-row>

  <form [formGroup]="myForm" (ngSubmit)="submit(myForm.value)">
    <div class="row">
      <div class="form-group col-sm-4">
        <h6 style=" font-size: 20px;"><label for="name">Name</label></h6>
        <input style="color: black" formControlName="name" id="name" type="text" placeholder="Document Name" class="form-control">
      </div>

      <div class="form-group col-sm-4">
        <h6 style="color: white; font-size: 20px;"><label for="file">File</label></h6>
        <input formControlName="file" id="file" type="file" class="form-control"
               (change)="onFileChange($event)" style="background: white; color: black">
      </div>

      <div class="form-group col-sm-4">
        <!--<h6 style="color: white; font-size: 20px;text-align: center"><label for="file">File</label></h6>-->
        <ion-button type="submit" class="btn btn-primary px-4" style="margin-top: 10%;margin-left: 10%">
          Upload
        </ion-button>
      </div>
    </div>
  </form>

  <!--<ion-row>
    <ion-button (click)="takephoto()" style="margin: 10px auto;
    margin-right: 10px;" class="btn btn-primary" float-right>Upload Document</ion-button>
  </ion-row>-->

  <div *ngIf="!pagination">
    <ion-list class="m-n">
      <ion-item no-lines *ngFor="let i of [0,1,2,3,4,5,6,7]">
        <skeleton-item height="8px" width="90%"></skeleton-item>
        <skeleton-item height="6px" width="70%"></skeleton-item>
        <skeleton-item height="6px" width="70%"></skeleton-item>
        <ion-avatar item-end>
          <skeleton-item height="50px" width="50px"></skeleton-item>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="pagination && myRadiologyList.length == 0">
    <img style="color:#fff;width: 20%;margin:0px auto;display: block;margin-top:50px;" src="assets/mulk/cpty.png">
    <p><b
      style="color:#fff;font-weight: bold; margin: 10px auto;display: block; text-align: center;font-size: 12px;font-family: monospace;">You
      have no radiology.</b></p>
  </div>

  <!--<div *ngIf="pagination  && temrDocumentUploadList.length >= 1">
    <div *ngFor="let user of temrDocumentUploadList | paginate : config; let i=index">
      <ion-card>
        <ion-list>
          <ion-item>
            <p><b>Document Name : </b> {{user.duName}}</p>
            <p><b>Date / Time : </b> {{user.createdDate | date}} / {{user.createdDate | date:'shortTime'}} </p>
            <p><b>File Name : </b>{{user.duFileName}} </p>
            <span item-end (click)="ViewImage(user.duFileName,'Upload Image View')"><img
              src="assets/img/icons/viewupload.png"></span>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>
    <div style="text-align: left">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
      <pagination-controls (pageChange)="getPage($event)" [id]="config.id"></pagination-controls>
    </div>
  </div>-->

  <!--<div *ngIf="pagination && myRadiologyList.length >= 1">
    <div *ngFor="let radiology of myRadiologyList | paginate : config; let i=index" class="input-wrapper">
      <ion-card style="padding: 0px!important;border-radius: 20px;">
        <ion-item style="padding: 0px!important;">
          <p><b>Date : </b> {{radiology?.date | date:'dd-MM-yyyy'}} </p>patientId
          <p><b>Doctor Name : </b> {{radiology?.doctorId?.staffUserId?.userFullname}}</p>
          <p><b>Patient Name : </b> {{radiology.patientId?.patientUserId?.userName}} </p>
          <span (click)="radiologies_view(radiology.myRadiologyId)" item-end>
                  <img style="color:#fff;margin: 0px auto;width: 104%;display: block;margin-top: 33px;"
                       src="assets/img/icons/prescription.png"></span>
        </ion-item>
      </ion-card>
    </div>
    <div style="text-align: left;">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
      <pagination-controls (pageChange)="getPage($event)" [id]="config.id"></pagination-controls>
    </div>
  </div>-->

  <div *ngIf="pagination && myRadiologyList.length >= 1">
    <div *ngFor="let radiology of myRadiologyList | paginate : config; let i=index" class="input-wrapper">

      <div *ngIf="!(radiology.duFileName.toString().endsWith('.pdf'))">
        <div *ngIf="radiology.enquiry == null">
          <!--*ngIf="radiology.addedByDoctorPortal == false || radiology.addedByDoctorPortal == 'false'"-->
          <ion-card style="padding: 0px!important;border-radius: 20px;">
            <ion-item style="padding: 0px!important;">
              <p><b>Date : </b> {{radiology?.createdDate | date:'dd-MM-yyyy'}} </p>
              <p><b>Patient Name : </b> {{radiology.patientId?.patientUserId?.userName}} </p>
              <span (click)="radiologies_view(radiology.myRadiologyId)" item-end>
                  <img style="color:#fff;margin: 0px auto;width: 104%;display: block;margin-top: 33px;"
                       src="assets/img/icons/prescription.png"></span>
            </ion-item>
          </ion-card>
        </div>
      </div>

    </div>
    <div style="text-align: left;">
      <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
      <pagination-controls (pageChange)="getPage($event)" [id]="config.id"></pagination-controls>
    </div>
  </div>

</ion-content>
