 .toolbar-title-md {
    padding: 0 12px;
    font-size: 15px;
    font-weight: 500;
    //color: #424242;
  }
  .label {
    background: #337ab7;
    padding: 6px;
    display: block;

color: white;
text-align: left;
    margin: 10px auto;
  }
  .labels {
    background: #337ab7;
    padding: 6px;
    display: block;
    color: white;
    text-align: center;
    margin: 10px auto;
  }
  h6 {
    font-size: 11px;
    margin-left: 15px;
    font-weight: 400;

  }
  h5 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;

  }
  h4 {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: 500;

    margin-bottom: 5px;
  }

 .bgimg {
   //background: url('/src/assets/img/Mulk E Health A4-01 1.png');
   background-color: black;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
 }

  //.caseReport{
  //  background: #337ab7;
  //  color: #fff;
  //  border-color: #337ab7;
  //}
  //
  //.caseReportPrimary .ui-widget-content {
  //  border: 1px solid #337ab7;
  //  border-left: 5px solid #337ab7;
  //}
  //.casereporttable > tbody > tr > td {
  //  border: none;
  //}
  //.caseReportInfo .ui-widget-content {
  //  border: 1px solid #17a2b8;
  //  border-left: 5px solid #17a2b8;
  //}
  //
  //.caseReportWarning .ui-widget-content {
  //  border: 1px solid #ffc107;
  //  border-left: 5px solid #ffc107;
  //}
  //
  //.caseReportDanger .ui-widget-content {
  //  border: 1px solid #dc3545;
  //  border-left: 5px solid #dc3545;
  //}
  //
  //.caseReportSuccess .ui-widget-content {
  //  border: 1px solid #28a745;
  //  border-left: 5px solid #28a745;
  //}
  //.table-bordered>thead>tr>td,
  //.table-bordered>thead>tr>th {
  //  border-width: 1px;
  //  padding: 10px !important;
  //}
  //.table thead tr {
  //  background-color: #eee;
  //  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#fafafa));
  //  background: -webkit-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  //  background: -moz-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  //  background: -ms-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  //  background: -o-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  //  background: -linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  //  font-size: 12px;
  //}
  //
  //.bordered {
  //  border: 1px solid rgba(0, 0, 0, .2);
  //}
  //.container.fixed-header #header {
  //  max-width: 1164px
  //}
  //.zeropadding {
  //  padding: 0px !important;
  //}
  //
  //.caseReportPrimary .ui-widget-content {
  //  border: 1px solid #337ab7;
  //  border-left: 5px solid #337ab7;
  //}
  //.casereporttable > tbody > tr > td {
  //  border: none;
  //}
  //.caseReportInfo .ui-widget-content {
  //  border: 1px solid #17a2b8;
  //  border-left: 5px solid #17a2b8;
  //}
  //
  //.caseReportWarning .ui-widget-content {
  //  border: 1px solid #ffc107;
  //  border-left: 5px solid #ffc107;
  //}
  //
  //.caseReportDanger .ui-widget-content {
  //  border: 1px solid #dc3545;
  //  border-left: 5px solid #dc3545;
  //}
  //
  //.caseReportSuccess .ui-widget-content {
  //  border: 1px solid #28a745;
  //  border-left: 5px solid #28a745;
  //}

