
  .docimg {
    width: 100%;
    border: 1px solid #6b6b6b;
    border-radius: 14px;
    text-align: center;
    margin-left: 10px;
  }
  .bg2 {
    background-color: #287AF4;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: 0px auto;
  }
  .h3-0 {
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;

  }
  .h5-0 {
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
  }
  h6 {
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
  }

  .h6-0 {
    font-size: 13px;
    font-weight: 700;
    margin-left: 5px;
    color: #fff;
  }

  .bgimg {
    background: url('/src/assets/img/Mulk E Health A4-01 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
