<ion-content class="bgimg">
  <ion-card style="margin-top: 30%; background-color: transparent; box-shadow: 0px 0px 4px 1px #fff; border: 1px solid black; border-radius: 10px">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-img src="assets/img/mulkmed logo.png" style="width: 100px; height: 100px; margin: 0 auto;"></ion-img>
      </ion-col>
    </ion-row>



    <form [formGroup]="forgotForm" (ngSubmit)="onForgot(forgotForm.value)">
      <ion-title class="ion-text-center" style="">Forgot Password</ion-title>
      <p class="ion-text-center" style="">Fill in your details to reset your password</p>

      <ion-item style="width: 80%; margin: 10px auto;">
        <ion-icon slot="start" name="person" style="color: #000;"></ion-icon>
        <ion-input type="text"  style="border: 1px solid black; border-radius: 10px" formControlName="username" placeholder="User Name" autocomplete="username" required></ion-input>
      </ion-item>

      <ion-row style="width: 100%;">
        <ion-col>
          <ion-button expand="full" fill="clear" (click)="Generateotp(forgotForm.value)" style="background-color: black; color: white">Send OTP</ion-button>
        </ion-col>
        <ion-col *ngIf="mobileotpsend">
          <ion-button expand="full" fill="clear" (click)="Resendotp(forgotForm.value)" style="">Resend OTP</ion-button>
        </ion-col>
      </ion-row>

      <ion-item *ngIf="password" style="width: 80%; margin: 10px auto;">
        <ion-icon slot="start" name="lock-closed" style="color: #000;"></ion-icon>
        <ion-input type="number" (change)="Resentotp(forgotForm.value)" style="border: 1px solid black; border-radius: 10px" formControlName="userOtp" placeholder="Enter OTP" autocomplete="current-password" required></ion-input>
      </ion-item>

      <ion-item *ngIf="submit" style="width: 80%; margin: 10px auto;">
        <ion-icon slot="start" name="lock-closed" style="color: #000;"></ion-icon>
        <ion-input type="password" style="border: 1px solid black; border-radius: 10px" formControlName="newPassword" placeholder="New Password" autocomplete="new-password" required></ion-input>
      </ion-item>

      <ion-item *ngIf="submit" style="width: 80%; margin: 10px auto;">
        <ion-icon slot="start" name="lock-closed" style="color: #000;"></ion-icon>
        <ion-input type="password" style="border: 1px solid black; border-radius: 10px" formControlName="confirmPassword" placeholder="Confirm Password" autocomplete="confirm-password" required></ion-input>
      </ion-item>

      <ion-row style="margin: 0px auto;">
        <ion-col class="ion-text-start">
          <ion-button expand="full" (click)="login()" style="border: 1px solid black; border-radius: 10px;">Login Now!</ion-button>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-button expand="full" type="submit" [disabled]="!forgotForm.valid" style="">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>
