
.bgimg {
  background-image: url('/src/assets/img/mulk old.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.card-body {
  background-color: transparent;
  box-shadow: 0px 0px 4px 1px #fff;
  margin-top: 30%;
}

ion-title {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

ion-card-content {
  color: #fff !important;
  text-align: center;
}
ion-item {
  width: 80%;
  margin: 10px auto;
}
ion-icon {
  color: #000;
}

ion-button {
  color: #fff;
}

ion-footer {
  background-color: whitesmoke;
}
ion-text-center{
  text-align: center;
}
.logo {
  width: 250px;
  height: 150px;
  text-align: center;
}
