 .image {
    text-align: center;
    width: 98%;
    display: block;
    padding: 10px;
  }

 .bgimg {
   background: url('/src/assets/img/Mulk E Health A4-01 1.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
 }

h3 {
  color: black;
}
 .form-control{
   background-color: #fff;
   border-radius: 8px;
   box-shadow: none;
   color: #000

 }
