<ion-header>
  <ion-toolbar>
    <label class="label-titles">Medical Tourism Details</label>
    <ion-buttons end>
      <ion-button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #fff!important;">
  <div>
    <div class="labels">
    </div>
    <!--<h4><strong>Date </strong> :-->
      <!--{{medicalTourismList.date}} </h4>-->
    <!--<h4><strong>Enquiry </strong> :-->
      <!--{{medicalTourismList.enquiry}} </h4>-->
  </div>
  <div class="presc_lable">

  </div>


</ion-content>

